body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

.content-profileID {
    margin: auto;
    width: 500px;
}

header {
    background-color: #333;
    color: rgba(21, 14, 209, 0.852);
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.content-section {
    display: none;
    padding: 1rem;
}

.apps {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.apps div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    display: flex;
}

.menu-item {
    font-size: 18px;
    padding: 5px;
    font-weight: 700;
    color: #000000;
    cursor: pointer;
    border: none;
    margin: 0px 2px;
}

.menu-item:hover {
    background: #3959db;
    color: white;
}

.active {
    background: #3959db;
    color: white;
}

.content-section, .center {
    display: flex;
    justify-content: center;
}

.profile-image {
    height: 150px;
    width: 150px;
    border: 5px solid #3959db;
    border-radius: 100%;
    margin-top: 30px;
}

.profile-name {
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    text-align: center;
    margin-top: 7px;
}

.profile-sub {
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    text-align: center;
    margin-top: 7px;
}

.profile-dowload {
    background: #3959db;
    padding: 10px;
    display: flex;
    align-items: center;
    width: auto;
    margin: 0px 10px;
    margin-top: 10px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}

.profile-dowload div {
    margin-left: 5px;
}

.apps {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 20px 40px;
    justify-content: center;
}

.profile-phone {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-phone i {
    font-size: 28px;
    color: white;
}

.app-title {
    font-size: 16px;
    margin-top: 10px;
    color: gray;
}

/* Màu sắc cụ thể cho từng ứng dụng */
.profile-phone.phone {
    background: #4CAF50; /* Màu xanh lá cho Phone */
}

.profile-phone.line {
    background: #00C300; /* Màu xanh lá cây cho Line */
}

.profile-phone.camera {
    background: #FF5722; /* Màu cam cho Camera */
}

.profile-phone.file {
    background: #607D8B; /* Màu xám cho File */
}

.profile-phone.map {
    background: #3F51B5; /* Màu xanh dương cho Map */
}

.profile-phone.image {
    background: #9C27B0; /* Màu tím cho Image */
}

.profile-phone.instagram {
    background: #E4405F; /* Màu hồng cho Instagram */
}

.profile-phone.sms {
    background: #FFEB3B; /* Màu vàng cho SMS */
}

.profile-phone.google {
    background: #4285F4; /* Màu xanh dương cho Google */
}

.profile-phone.whatsapp {
    background: #25D366; /* Màu xanh lá cây cho WhatsApp */
}
